body{
    margin: 0%;
    padding: 0%;
    font-family:'Poppies',sans-serif;
    /* box-sizing: border-box; */
    
}
.container1{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#08001f,#30197d);
    position: relative;
    color: #fff;
    
}
.container2{
    height: 180px;
    width: 800px;
    top: 50%;
    left: 50%;
    position: absolute;
    /* background: red; */
    transform: translate(-50%,-50%);
    backdrop-filter: blur(40px);
    
}
.clock{
    height: 100%;
    width: 100%;
    background: rgba(235,0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    font-size: 60px;
    font-weight: bold;
}
.container2::before{
    content: '';
    height: 180px;
    width: 180px;
    background: #db0c43;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
}
.container2::after{
    content: '';
    height: 180px;
    width: 180px;
    background: #176bc6;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: -50px;
    z-index: -1;
   
}

.clock span{
    font-size: 80px;
    width: 110px;
    text-align: center;
    display: inline-block;
    position: relative;
}
.clock span::after{
    
   font-size: 20px;
   position: absolute;
   bottom: -25px;
   left: 50%;
   transform: translateX(-50%);   
}
#hr::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SEC';
}
